body{

}
 .bold{
   font-weight: bold;
 }

 .underline{
   text-decoration: underline;
 }

.transition{
  display: none;
}

.show{
  display: block;
}

.album-tile{
  display: inline-block;
  margin: 30px;
}

.nav{
  background-color: #333;
  color: #fff;
}

h2{
  text-align: center;
}
